html{
  background-color: #006699;
}
html, body {
  height: 100%;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body.loading{
  opacity: 0;
  transition: all 0.3s ease;
}

p {
  line-height: 1.75;
}

a {
  color: #3993c9;
}

a:hover {
  color: #0099cc;
  text-decoration: none;
}

.text-primary {
  color: #006699 !important;
}
.text-secondary {
  color: #30b8b0 !important;
}
.text-blue {
  color: #006699 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

::-moz-selection {
  background: transparent;
  text-shadow: none;
}

::selection {
  background: transparent;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
}

.circle{
  border: 2px solid rgba(255,255,255,1);
  position: absolute;
  width: 360px;
  height: 360px;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}
.circle:nth-child(2){
  border: 2px solid rgba(255,255,255,0.75);
  width: 360px;
  height: 360px;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
  animation: expand-3 5s infinite;
}
.circle:nth-child(3){
  animation: expand-2 5s infinite;
  animation-delay: 0.5s;
}
.circle:nth-child(4){
  animation: expand-1 5s infinite;
  animation-delay: 1.25s;
}
.btn-call{
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../img/header-team.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0.5rem;
  width: 350px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  z-index: 1;
}
.btn-call:hover{
  transform: rotate(120deg);
}
@keyframes expand-1 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes expand-2 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes expand-3 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100%{
    transform: scale(2.5);
    opacity: 0;
  }
}


.btn-primary {
  background-color: #3993c9;
  border-color: #3993c9;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #44a3d3 !important;
  border-color: #44a3d3 !important;
  color: white;
}

.btn-secondary:active, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(249, 157, 140, 0.5) !important;
}
.btn-secondary {
  background-color: #30b8b0;
  border-color: #30b8b0;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #42d1c6 !important;
  border-color: #42d1c6 !important;
  color: white;
}

.btn-secondary:active, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 209, 198, 0.5) !important;
}
.bg-primary{
  background-color: #006699 !important;
}

#mainNav {
  padding: 1rem;
}
#mainNav.inverted {
  filter: contrast(0.25);
}

#mainNav .navbar-toggler {
  font-size: 24px;
  right: 0;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: transparent;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#mainNav .navbar-toggler:focus{
  border:none;
  box-shadow: none;
  outline: none;
}

#mainNav .navbar-brand {
  width: 160px;
  color: #fff;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f9fafb;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}
/* MOBILE NAV */

.mobile-navbar {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  background-color: #f4f4f6;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease 0.15s;
}
.mobile-navbar.show{
  opacity: 1;
  pointer-events: auto;
}
.mobile-navbar a{
  font-size: 36px;
}
.mobile-navbar a:hover, .mobile-navbar a.active{
}

.mobile-navbar .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-button-next, .swiper-button-prev{
  color: rgba(0,0,0,0.25) !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: 30px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: 30px;
}

#content{
  width: 100%;
  height: 100%;
}

#home {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
}
#home.inner{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#home h1{
  width: 100%;
  height: 2.5rem;
  top: calc(50% - 2.5rem);
  left: 0;
  z-index: 2;
}

#home .intro-text .intro-lead-in {
  font-size: 22px;
  line-height: 22px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#home .intro-text .intro-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 25px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  .mobile-navbar a{
    font-size: 54px;
  }
  #home{
    margin-top: 0;
    text-align: left;
    height: 100%;
  }
  #home .intro-text {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #home .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  #home .intro-text .intro-heading {
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 10px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

.profile{
  height: 100%;
  text-align: center;
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.team-member:hover img{
  padding: 7px;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}
@media (min-width: 768px) {
  .profile .team-member {
    text-align: left !important;
  }
  .profile .team-member img{
    width: 100%;
    height: auto;
  }
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
}

#video{
  width: 100%;
  height: 100%;
}

#download .badges .badge-link {
  display: inline;
  margin-bottom: 25px;
}

#download .badges .badge-link:last-child {
  margin-bottom: 0;
}

#download .badges .badge-link img {
  height: 60px;
}